[submodule "src/POET"]
	path = src/POET
	url = https://github.com/gdicker1/POET
	branch = minigrid_poet
[submodule "src/gym-minigrid"]
	path = src/gym-minigrid
	url = https://github.com/WyomingWolf/gym-minigrid
	branch = GeneMazeEnv
[submodule "src/maml_rl"]
	path = src/maml_rl
	url = https://github.com/zephconnell/maml_rl
	branch = minigrid_maml_rl
