[submodule "src/POET"]
	path = src/POET
	url = https://github.com/gdicker1/POET
	branch = master
[submodule "src/gym-minigrid"]
	path = src/gym-minigrid
	url = https://github.com/WyomingWolf/gym-minigrid
	branch = GeneMazeEnv
[submodule "src/maml_rl"]
	path = src/maml_rl
	url = https://github.com/zephconnell/maml_rl
