[submodule "src/POET"]
	path = src/POET
	url = https://github.com/gdicker1/POET
	branch = master
[submodule "src/gym-minigrid"]
	path = src/gym-minigrid
	url = https://github.com/gdicker1/gym-minigrid
